<h1><%= @user.name %></h1>

<strong>Invited To: </strong>
<em>(<%= @user.events.count %> events)</em>
<ul>
  <% @user.events.each do |event| %>
    <%= link_to event.name, event_path(event) %><br>
    <br>
    <% end %>
</ul>

<%= link_to "Create Event", new_event_path %>
<%= link_to "User Index", users_path %>
<%= link_to "Delete", user_path(@user),
                         :data => {:confirm => "Are You Sure?",
                                   :method => "delete"} %>
