<h1>Events</h1>

<button type="button" class="btn btn-light"><%= link_to "Create Event", new_event_path %></button>
<button type="button" class="btn btn-light"><%= link_to "User Index", users_path %></button>

    <div class="card-columns">
    <% @events.each do |event| %>
      <div class="card">
        <a href="/events/<%= event.id %>">
        <img src="<%= event.category.img_url%>" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to event.name, event_path(event) %></h5>
          <p class="card-text"><%= event.description %></p>
          <small><%= event.category.name %></small>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= event.display_start %></small>
        </div>
      </div>
      <% end %>
    </div>
