<h1><%= @category.name %></h1>
<div class="center-me">
  <small>Total Events: <%= @category.events.count %></small>
</div>
<button type="button" class="btn btn-light"><%= link_to "Create Event", new_event_path %></button>
<button type="button" class="btn btn-light"><%= link_to "Back To Events Index", events_path %></button>

<% @category.events.each do |event| %>
  <div class="d-flex w-100 justify-content-between">
   <div class="row no-gutters">
     <div class="col-md-4">
       <img src="<%= event.category.img_url %>" class="card-img" alt="...">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title"><%= event.name %></h5>
         <p class="card-text">Description: <%= event.description %></p>
         <p class="card-text">Currently Invited: <%= link_to event.users.length, view_users_event_path %></p>
         <p class="card-text">Location: <%= link_to event.location.name, location_path(event.location) %></p>
         <p class="card-text">Category: <%= link_to event.category.name, category_path(event.category) %></p>
         <p class="card-text">Starts At: <%= event.display_start %></p>
         <p class="card-text">Ends At: <%= event.display_start %></p>
       </div>
     </div>
   </div>
  </div>
  <% end %>
